*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

html {
  width: 100%;
}

body {
  background-color: #000427;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  padding: 100px 20px 40px;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

.main-wrapper {
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper.single {
  justify-content: center;
}

.usp-wrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 100%;
  height: 104px;
  background: url(/images/logo.png) no-repeat center/contain;
}

.logo > a,
.store-button > a,
.social-icon > a {
  display: block;
  width: 100%;
  height: 100%;
}

.usp-text,
.usp-text > h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.store-buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.store-button {
  height: 44px;
}

.store-button.apple-badge {
  width: 132px;
  background: url(/images/apple.svg) no-repeat center/contain;
}

.store-button.apple-badge:hover {
  background: url(/images/apple-w.svg) no-repeat center/contain;
}

.store-button.google-badge {
  width: 152px;
  background: url(/images/google.svg) no-repeat center/contain;
}

.store-button.google-badge:hover {
  background: url(/images/google-w.svg) no-repeat center/contain;
}

.phone-wrapper {
  position: relative;
  max-width: 320px;
}

.phone-mockup {
  max-width: 100%;
}

.island-bg {
  position: absolute;
  opacity: 0.7;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  max-width: none;
  height: auto;
  z-index: -1;
}

footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.testimonials-wrapper,
.social-icons-wrapper,
.footer-links-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-icon.facebook-icon {
  background: url(/images/facebook.svg) no-repeat center/contain;
}

.social-icon.facebook-icon:hover {
  background: url(/images/facebook-w.svg) no-repeat center/contain;
}

.social-icon.instagram-icon {
  background: url(/images/instagram.svg) no-repeat center/contain;
}

.social-icon.instagram-icon:hover {
  background: url(/images/instagram-w.svg) no-repeat center/contain;
}

.social-icon.tiktok-icon {
  background: url(/images/tiktok.svg) no-repeat center/contain;
}

.social-icon.tiktok-icon:hover {
  background: url(/images/tiktok-w.svg) no-repeat center/contain;
}

.footer-links-wrapper {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.footer-link:hover {
  text-decoration: underline;
}

.legal {
  margin: 80px auto 0;
  max-width: 640px;
}

.legal > h1 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
}

.legal > h2 {
  margin: 20px 0 16px;
  font-size: 24px;
  line-height: 28px;
}

.legal > h3 {
  margin: 16px 0 12px;
  font-size: 20px;
  line-height: 24px;
}

.legal > p {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 899px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
  .social-icon {
    width: 44px;
    height: 44px;
  }
  .footer-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}