body {
  background-color: #000427;
  font-family: PT Sans, sans-serif;
  color: #ffffff;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 100px auto 40px;
}

.logo {
  width: 300px;
  height: 72px;
  background-image: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}