body {
  background-color: #000427;
  font-family: PT Sans, sans-serif;
  color: #ffffff;
}

.main-wrapper {
  display: flex;
  margin: 100px auto 40px;
}

.logo {
  max-width: 320px;
  background-image: /assets/images/logo.png;
}