body {
  background-color: #000427;
  font-family: PT Sans, sans-serif;
  color: #ffffff;
}

.main-wrapper {
  max-width: 820px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 100px auto 40px;
}

.usp-wrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 100px;
}

.logo {
  width: 300px;
  height: 72px;
  background-image: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.usp-text {
  font-size: 24px;
  line-height: 32px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
}

.phone-wrapper {
  max-width: 320px;
}